.sidebar {
  /* border-right: black;*/
  border-style: groove;
  width: 80px;
  height: 100%;
}

.sidebar button {
  text-align: center;
  border-color: transparent;
  background-color: transparent;
  width: 90%;
  padding: 15px;
  margin: 2px;
  align-items: center;
}

.sidebar button:hover {
  background-color: rgb(85, 85, 189);
}
